{% extends 'base.html.twig' %}

{% block title %}Liste saisons{% endblock %}

{% block body %}
    <div class="container bg-lighttt pt-3">
        <h1>Liste saisons</h1>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success my-2">
                {{ message }}
            </div>
        {% endfor %}
         <a href="{{ path('back_season_new') }}" class="btn btn-warning"><i class="bi bi-file-plus">  Ajouter une saison</i></a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Série</th>
                    <th>N° saison</th>
                    <th>Nombre d'épisodes</th>
                </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.id }}</td>
                    <td>{{ season.movie.title }}</td>
                    <td>{{ season.number }}</td>
                    <td>{{ season.episodesNumber }}</td>
                    <td><a href="{{ path('back_season_show', {'id': season.id}) }}" class="btn btn-outline-dark"><i class="bi bi-eye"> Voir</i></a></td>
                    <td><a href="{{ path('back_season_edit', {'id': season.id}) }}" class="btn btn-outline-danger"><i class="bi bi-pencil"> Editer</i></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune saison trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
