{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <div class="container bg-lighttt pt-5">
        <h1>Season</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ season.id }}</td>
                </tr>
                <tr>
                    <th>N° saison</th>
                    <td>{{ season.number }}</td>
                </tr>
                <tr>
                    <th>Nombre d'épisodes</th>
                    <td>{{ season.episodesNumber }}</td>
                </tr>
            </tbody>
        </table>
        <div class="mb-3">
            <a href="{{ path('back_season_index') }} " class="btn btn-outline-dark"><i class="bi bi-arrow-return-left"></i> Retour à la liste</a>
            <a href="{{ path('back_season_edit', {'id': season.id}) }}" class="btn btn-dark"><i class="bi bi-pencil"></i> Modifier</a>
        </div>

        {{ include('back/season/_delete_form.html.twig') }}
    </div>
{% endblock %}
