{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <div class="container bg-lighttt pt-3">
        <h1>Liste des films</h1>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        <a href="{{ path('back_movie_new') }}" class="btn btn-warning"><i class="bi bi-file-plus">  Ajouter un film</i></a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Date de sortie</th>
                    <th>Durée</th>
                    <th>Format</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</td>
                    <td>{{ movie.duration }}</td>
                    <td>{{ movie.type }}</td>
                    <td>{{ movie.rating }}</td>
                    <td><a href="{{ path('back_movie_show', {'id': movie.id}) }}" class="btn btn-outline-dark"><i class="bi bi-eye"> Voir</i></a></td>
                    <td><a href="{{ path('back_movie_edit', {'id': movie.id}) }}" class="btn btn-outline-danger"><i class="bi bi-pencil"> Editer</i></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun film trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
